*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Boogaloo", cursive;
}

.banner{
background-image: url(./components/raketera.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.cardHighlight {
  min-height: 100%;
  font-family: "Boogaloo", cursive;
  background-image: url(./components/raketera.png);
  /*min-height: 100vh;*/
  background-repeat: no-repeat;
}

.courseCard {
  margin:  10px;
  border-color: teal;
  border-width: 1px;
}

.cardBody {
  text-align: center;
}

.courseName {
  padding: 10px;
  font-family: ;
}

.registerPage, .loginPage {
  align-content: center;
  /*background-image: url(./components/raketera.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
}